---
import { SITE } from '../consts';
---
<header class="site-header">
  <div class="wrap site-header__inner">
    <a class="brand" href="/">
      <span class="brand__ball" aria-hidden="true"></span>
      {SITE.title}
    </a>
    <nav><a href="/">知識文章</a></nav>
  </div>
</header>
