---
import { SITE } from '../consts';
---
<aside class="line-cta">
  <p class="line-cta__title">想開始打球？加入 YS 官方 LINE</p>
  <p class="line-cta__sub">預約體驗課、課程諮詢、最新開課資訊，都在 LINE 一次搞定。</p>
  <a class="line-cta__btn" href={SITE.lineUrl} target="_blank" rel="noopener">加入 YS 官方 LINE →</a>
</aside>
